* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendar", sans-serif;
}

body {
  height: 100vh;
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

.s1 {
  background-image: url('../img/personal1/연습1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-box {
   padding: 50px 70px;
   text-align: center;
   max-width: 900px;
   width: 90%;
}

.content-box h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #222;
  font-weight: 700;
}

.content-box ul {
  list-style: none;
  padding: 0;
}

.content-box li {
  font-size: 22px;
  line-height: 1.8;
  color: #333;
  margin-bottom: 15px;
  word-break: keep-all;
}

.content-box li strong {
   font-weight: 700;
}

/* section 2번째 */
.s2 {
  position: relative; /* 자기자신 기준 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000;
}

.roadmap-container {
  position: absolute; /* 절대값 위치 */
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  background-image: url('../img/personal1/연습2.png');
  background-size: cover;
  user-select: none;
}

.roadmap-text {
  position: absolute;
  color: #fff;
  font-weight: 600;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  font-size: clamp(14px, 1.5vw, 24px);
  letter-spacing: 1px;  
}

.title-text {
  top: 12%;
  left: 19%;
  font-size: clamp(18px, 2.5vw, 36px);
  font-weight: 800;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}

.step1 {
  top: 25.5%;
  left: 21.5%;
} /* 기획스토리 */
.step2 {
  top: 37%;
  left: 38.5%;
} /* 시각화 */
.step3 {
  top: 47%;
  left: 54%;
} /* 영상화 */
.step4 {
  top: 57.2%;
  left: 68.5%;
} /* 편집 */
.step5 {
  top: 69.3%;
  left: 72%;
} /* 사운드 */
.step6 {
  top: 82.8%;
  left: 86.8%;
} /* 완성 */

/* video page부분 */
.video-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bg-video {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  transform: translate(-50,-50);
}
.video-page {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .video-wrapper {
      position: relative;
      width: 100%;
      aspect-ratio: 16 / 9; /* 16:9 비율 유지 */
    }

    .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .video-controls {
      margin-top: 12px;
      display: flex;
      gap: 12px;
    }


